{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

<link rel="stylesheet" href="{% static 'panier.css' %}">

<div class="cart-section">
    <h1>Mon Panier</h1>

    {% if orders %}
    <table class="cart-table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Image</th>
                <th>Prix Unitaire</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.product.name }}</td>
                <td><img src="{{ order.product.image.url }}" alt="{{ order.product.name }}"></td>
                <td>{{ order.product.price }} €</td>
                <td>

                <span>{{ order.quantity }}</span>

                </td>
                <td>{{ order.product.price|floatformat:2|mul:order.quantity }} €</td>
                <td>
                    <a href="{% url 'remove-from-cart' order.product.slug %}" class="remove-btn">
                        <i class="fa fa-trash"></i> supprimer
                    </a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="cart-summary">
        <p class="total">Total : {{ total_price }} €</p>
        <form action="{% url 'create-checkout-session' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Procéder au paiement</button>
        </form>
        <a href="{% url 'delete-cart' %}" class="delete-cart-link">Supprimer le panier</a>
    </div>
    {% else %}
    <p>Votre panier est vide.</p>
    {% endif %}
</div>

{% endblock %}
