{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'contact.css' %}">

<h1>Contactez-moi par mails</h1>

<form method="post">
    {% csrf_token %}
    <p>
        <label for="name">Nom</label><br>
        <input id="name" type="text" name="name">
    </p>
    <p>
        <label for="email">Email</label><br>
        <input id="email" type="email" name="email">
    </p>
    <p>
        <label for="subject">Sujet</label><br>
        <input id="subject" type="text" name="subject">
    </p>
    <p>
        <label for="message">Message</label><br>
        <textarea id="message" name="message"></textarea>
    </p>
    <button type="submit">Envoyer</button>
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- Lien vers Instagram -->
<div class="social-links">
    <h1>Ou retrouvez-moi sur :</h1>
    <a href="https://www.instagram.com/votrecompte" target="_blank">
        <img src="{% static 'accueil/icon-insta.jpg' %}" alt="Instagram" style="width: 30px; height: 30px;">
    </a>
</div>

{% endblock %}
