{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Boutique d'Artisanat</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'base.js' %}" defer></script>
</head>
<body>

    <div class="title-container">
        <h1>Sellerie la vie en rose</h1>
    </div>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Accueil</a></li>
        <li><a href="{% url 'store' %}">Boutique</a></li>
        <li><a href="#">Infos</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">se déconnecter</a></li>
            {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
        {% else %}
        <div class="nav-right">
            <li><a href="{% url 'login' %}">Connexion</a></li>
            <li><a href="{% url 'signup' %}">s'inscrire</a></li>
        </div>
        {% endif %}
        
        {% if user.cart and not user.cart.ordered %}
        <li><a href="{% url 'cart' %}">Panier ({{ user.cart.orders.count }})</a></li>
        {% endif %}
        
    </ul>
</nav>
<div class="page"> 
{% block content %}
{% endblock %}

</body>
</html>