<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Boutique d'Artisanat</title>
    
</head>
<body>

<a href="{% url 'index' %}">
    <h1>Boutique</h1>
</a>

{% if user.is_authenticated %}
    {{ user.username }}
    <a href="{% url 'logout' %}">se déconnecter</a>
{% else %}
<a href="{% url 'login' %}">Connexion</a>
<a href="{% url 'signup' %}">s'inscrire</a>
{% endif %}

{% if user.cart %}
<a href="{% url 'cart' %}">Panier ({{ user.cart.orders.count }})</a>
{% endif %}


{% block content %}
{% endblock %}

</body>
</html>